<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We have got you covered</h2>
                <hr class="light">
                <p class="text-faded">Cognizance is essence of everything.
                    <br/>
                    We help you make smart decisions with people you choose to do business with; verifying people for you so you don’t have to worry about them anymore. It has become growingly important for the business that communicate with people deals with people to have a better look at who they are dealing with. This helps them to serve their customers in a better and secure environment.
                </p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
